
@font-face {
    font-family: 'typo_draft_demoregular';
    src: url('./fonts/typo_draft_demo-webfont.woff2') format('woff2'),
         url('./fonts/typo_draft_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('./fonts/caviardreams-webfont.woff2') format('woff2'),
         url('./fonts/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('./fonts/caviardreams_bold-webfont.woff2') format('woff2'),
         url('./fonts/caviardreams_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsitalic';
    src: url('./fonts/caviardreams_italic-webfont.woff2') format('woff2'),
         url('./fonts/caviardreams_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icons';
    src: url('./fonts/icons.woff2') format('woff2'),
         url('./fonts/icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdfdecb7;
    height: 100vh;
    display: grid;
    grid-template-rows: 11rem 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

a:link, a:visited {
    outline: none;
    /* border: none; */
    text-decoration: none;
    color: rgba(255, 255, 255, 0.877);
    font-family: 'caviar_dreamsbold';
    font-size: 1.1rem;
    text-shadow: 0.15rem 0.1rem 0.15rem #00493d;
}

a:hover, a:focus, a:active {
    text-shadow: 0.1rem 0.1rem 0.2rem #845EC2;
    color: #fdfdec;
}

/* ------- header ------- */

.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    padding: 0.5rem 0;
    background-color: #00C9A7;
    box-shadow: 0 0.1rem 7px rgba(0, 0, 0, 0.637);
}

.header-wrapper > .title {
    font-family: 'typo_draft_demoregular';
    font-size: 7rem;
    color: white;
}

.add-book-btn {
    outline: none;
    border: none;
    width: 5.5rem;
    height: 5.5rem;
    font-family: 'caviar_dreamsbold';
    font-size: 1.5rem;
    border-radius: 50%;
    color: #fdfdec;
    background-color: #845EC2;
    box-shadow: 0 0 4rem rgba(255, 255, 255, 0.726);
}

.add-book-btn:hover,
.add-book-btn:focus {
    background: white;
    color: #845EC2;
    box-shadow: 0 0 0.4rem #00000098;
    transition: 200ms;
}

/* -------- main -------- */

main {
    padding: 2rem;
    width: 70%;
    justify-self: center;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 2rem;
    align-items: center;
}

.book {
    height: fit-content;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    font-weight: 700;
    overflow: hidden;
    padding: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0.1rem 0.1rem 5px #00000067;
    border-left: 0.5rem solid #C493FF;
    border-radius: 0.7rem;
}

.book-info {
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto-fill);
    grid-template-columns: 100%;
    text-align: center;
    justify-content: center;
    gap: 0.5rem;
    word-wrap:break-word;
}


.b-title {
    font-family: 'caviar_dreamsbold';
    font-size: 1.7rem;
    align-self: end;
}

.b-author {
    font-family: 'caviar_dreamsbold';
    font-size: 1.5rem;
    color: #8b8a8d;
    margin-bottom: 1rem;
}

.b-pages {
    font-family: 'caviar_dreamsitalic';
    font-size: 0.9rem;
    color: #8b8a8d;
    align-self: end;
    justify-self: end;
}

/* -------- buttons & icons -------- */

.book-btns {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.book-btns > * {
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
}

.book-btns button::before {
    font-family: 'icons';
    font-size: 1.5rem;
    padding: 0.5rem;
}

/* --------------------- */
.icon-ok::before {
    content: '\e802';
}

.icon-ok.selected::before {
    color:#00C9A7;
}

/* --------------------- */
.icon-heart::before { 
    content: '\e800';
} 

.icon-heart.selected::before { 
    content: '\e801';
    color: #845EC2;
}
/* --------------------- */
.icon-cancel::before {
    content: '\e804';
} 

.icon-cancel:focus::before {
    color: #ff518b;
}

/* -------- form -------- */

.form-wrapper {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #606264a9;
}

#book-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   background-color: #a298ff;
   padding: 2rem;
   border-radius: 5%;
   font-family: 'caviar_dreamsbold';
   border: 0.1rem solid #845EC2;
}

#book-form > * {
    font-family: 'caviar_dreamsregular';
    font-weight: 700;
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
}

#book-form > *::placeholder {
    font-family: 'caviar_dreamsitalic';
    font-weight: 400;
    font-size: 1.3rem;
    padding: 0.5rem;
}

#book-form > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    color: #00C9A7;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.15rem solid #78d6c6;
    border-radius: 0.15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 1rem;
    height: 1rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: #00C9A7;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

#submit {
    outline: none;
    border: none;
    background-color: #78d6c6;
    color: #fdfdec;
    font-family: 'caviar_dreamsbold';
    font-size: 1.4rem;
    box-shadow: 0 0 0.4rem grey;
    border-radius: 50%;
    /* aspect-ratio: 1/1; */
    width: 6rem;
    height: 6rem;
    transition: 300ms;
}

#submit:hover {
    box-shadow: 0 0 1rem white;
    background-color: #58ac9e;
    transition: 200ms;
}

/* ------- footer ------- */

footer {
    grid-area: footer;
    background-color: #00C9A7;
    width: 100%;
    align-self: end;
    text-align: center;
    padding: 0.5rem;
    color: white;
}

.github-icon {
    max-height: 1.5rem;
}


/* -------- media -------- */

@media screen and (orientation: portrait) {
    body {
        grid-template-rows: 22vw 1fr;
    }
    
    .header-wrapper > .title {
        font-size: 14vw;
    }
    
    .add-book-btn {
        width: 11vw;
        height: 11vw;
        font-size: 3vw;
        margin-bottom: 0.6vw;
    }

    main {
        width: 100%;
    }
}

@media (hover: hover) {
    .icon-ok:hover::before {
        color:#41dbc2;
    }

    .icon-heart:hover::before {
        color:#C493FF;
    }
    
    .icon-cancel:hover::before {
        color: #ff518b;
    }
}